// ----------- Bulma  ---------------

$success: #035BFA;

@import '~bulma/bulma.sass';
@import 'bulma';

// ----------- General ---------------





* {
  font-family: 'Manrope',
    sans-serif;
}



body {
  background-color: gainsboro;
  min-height: 100vh
}

hr {
  width: 60vw;
  margin-left: auto;
  margin-right: auto;
  background-color: #035BFA;
}

.back-button {
  font-size: 1em;
  border: none;
  background: none;

  & :hover {
    cursor: pointer;
  }
}

#logo-not-homepage img {
  width: 4rem;
  color: #035BFA;
}

.not-homepage-text {
  color: #035BFA;
  font-size: 4rem;
  font-weight: bolder
}



// ----------- Logo ---------------

.logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.logo {
  height: auto;
  width: 18vw
}

.logo-text {
  color: #035BFA;
  font-size: 18vw;
  font-weight: bolder
}

parent-not-homepage {
  position: relative;
  top: 0;
  left: 0;
}

.parent {

  animation-delay: 0s;
  position: relative;
  top: 0;
  left: 0px;
  rotate: 0deg
}

.image1 {
  position: absolute;
  top: 0px;
  left: 0px;
  height: auto;
  width: 40rem;
  rotate: 0deg;
}

.dot {
  position: absolute;
  top: 0px;
  left: 0;
  height: auto;
  width: 36vw
}

.image2 {
  position: relative;
  top: 0px;
  left: 0px;
  height: auto;
  width: 40rem;
  rotate: 0deg;
}

#dot-1 {
  animation: fadeInLeft .8s ease backwards;
  animation-delay: 0s;
  animation-iteration-count: 4;
}

#dot-2 {
  animation: fadeInLeft .8s ease backwards;
  animation-delay: .2s;
  animation-iteration-count: 4;
}

#dot-3 {
  animation: fadeInLeft .8s ease backwards;
  animation-delay: .4s;
  animation-iteration-count: 4;
}

#logo-text {
  animation: fadeIn 1.3s ease backwards;
  animation-delay: 1.2s;
}

#homepage-button {
  transform: scale(1.5);
  margin-top: 3rem;
  height: 3rem;
  width: auto;
  animation: fadeIn 1.5s ease backwards;
  animation-delay: 2s;
}



// ----------- Navbar ---------------

.navbar-logo-parent {
  position: relative;
  top: 2px;
  left: 8px;
  margin-bottom: -5px
}


.navbar-logo-parent:hover {
  #dot1 {
    animation: fadeInLeft .9s ease backwards;
    animation-delay: 0s;
    animation-iteration-count: infinite;
  }

  #dot2 {
    animation: fadeInLeft .9s ease backwards;
    animation-delay: .2s;
    animation-iteration-count: infinite;
  }

  #dot3 {
    animation: fadeInLeft .9s ease backwards;
    animation-delay: .4s;
    animation-iteration-count: infinite;
  }
}



.navbar-dot {
  position: absolute;
  top: 2px;
  left: 0;
  height: auto;
  width: 140px
}

.navbar-image2 {
  position: relative;
  top: 2px;
  left: 0px;
  height: auto;
  width: 140px;
}

.logo-text-navbar {
  color: #035BFA;
  font-size: 40px;
  font-weight: bolder
}

#navbar-brand {
  font-weight: bolder;
}

#navbar-brand img {
  padding-top: 10px;
  margin-left: 10px;
  height: 4rem;
  width: auto;
}



// ----------- Chatrooms ---------------

.credentials-container {
  display: flex;
  justify-content: center;
}

.credentials-image {
  height: 14rem;
  width: auto;
  border-radius: 50%;
  border: #035BFA 3px solid;
}

.chatrooms-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.chatrooms-members {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.chat-rooms {
  margin: -20px
}

.chat-rooms p {
  color: black;
}

.chat-rooms {
  margin-top: 0px;
  margin-bottom: 0px
}

.chat-rooms img {
  height: auto;
  width: 10rem;
  border-radius: 50%;
  border: #035BFA 3px solid;
  margin: -20px
}

// ----------- Chats ---------------

.chat-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.compose-message-box {
  margin-top: 12px;
  background: white;
}

#compose-message-box {
  margin-top: 12px;
}

.message-data {
  margin-top: auto;
  font-size: xx-small;
  color: white;
  padding-left: 10px;
}

.message-data-username {
  margin-top: 0;
  font-size: small;
  color: black;
  padding-right: 5px;
}

// ----------- Messages ---------------

.label {
  background-color: transparent
}

.sender-id {
  display: flex;
  margin-right: 0;
  margin-left: auto;
}

.sent-message {
  display: flex;
  margin-right: auto;
  margin-left: 0;
  width: max-content;
  max-width: 50vw;
  white-space: pre-wrap;
  padding: 3px 10px 0px 10px;
  margin-bottom: 4px;
  border-radius: 15px 15px;
  background-color: #035BFA;
  color: white;
}

p {
  margin-bottom: 3px;
}

.recieved-message {
  display: flex;
  margin-right: 0;
  margin-left: auto;
  width: max-content;
  max-width: 50vw;
  white-space: wrap;
  padding: 3px 10px 0px 10px;
  margin-bottom: 4px;
  border-radius: 15px 15px;
  background-color: mediumseagreen;
  color: white;
}

p {
  margin-bottom: 3px;
  word-break: break-word;
}

.label {
  margin-bottom: 3px;
}

// ----------- Animations ---------------

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 1;
  }

  50% {
    opacity: .2;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInMove {
  0% {
    left: 30%;
  }

  40% {
    left: 30%;

  }

  100% {
    left: 0vw;
  }
}